<div class="terminal42--tus" data-controller="terminal42--tus" data-terminal42--tus-endpoint-value="{{ endpoint }}">
    <input class="terminal42--tus__file invisible" type="file" multiple data-terminal42--tus-target="file" data-action="change->terminal42--tus#upload">
    <button type="button" class="terminal42--tus__button tl_submit" data-action="terminal42--tus#select">Dateien auswählen</button>

    <ul class="terminal42--tus__list" data-terminal42--tus-target="list"></ul>

    <template data-terminal42--tus-target="template">
        <li class="terminal42--tus__item">
            <input type="hidden" name="{{ name }}[files][]" value="">
            <div class="terminal42--tus__preview">
                <img alt="">
            </div>
            <div class="terminal42--tus__name">{name}</div>
            <div>
                <div class="terminal42--tus__progress"></div>
            </div>
            <button type="button" class="terminal42--tus__remove" data-action="terminal42--tus#remove">&times;</button>
        </li>
    </template>
</div>
